HEPTA_MD_FRONT=tcp://180.168.146.187:10110
HEPTA_TD_FRONT=tcp://180.168.146.187:10100
HEPTA_BROKER_ID=9999
HEPTA_USER_ID=
HEPTA_PASSWORD=
HEPTA_APP_ID=simnow_client_test
HEPTA_AUTH_CODE=
HEPTA_PRODUCT_INFO=Hepta
