<?xml version="1.0" ?>
<Config Generated_at="2016-12-26 23:21:47">
    <!-- Configs for HeptaTrader -->
    <User>
	<MarketDataServer Front="tcp://180.168.146.187:10110" BrokerID="9999" UserID="" PassWord=""/>
	<TradeServer Front="tcp://180.168.146.187:10100" BrokerID="9999" UserID="" PassWord="" ProductInfo="Hepta" AppID="simnow_client_test" AuthCode=""/>
    </User>
    <Subscription>
	<Instrument ID="cu2605"/>
    </Subscription>

  <HisDataFolder>
    D:\quant\dat\
  </HisDataFolder>

  <Runtime Venue="AUTO" />

  <!-- Optional IB mode: set Mode="IB" to enable adapter_ib path -->
  <IBServer Mode="CTP" Host="127.0.0.1" Port="7497" ClientId="101" Account="DUxxxxxx" ReadOnly="1" />

  <!-- IB risk guardrails (defaults are intentionally conservative) -->
  <IBRisk
    EnableOrderSubmission="0"
    MaxOrderQuantity="1"
    MaxDailyOrders="1"
    EnableAutoCircuitBreaker="1"
    FuseOnErrorCount="3"
    MaxPriceDeviationBps="30"
    DuplicateOrderWindowSec="3"
    DuplicatePriceTolerance="0.0001"
    EnableErrorCodeBlacklist="1"
    ErrorCodeBlacklist="201,202,10147,10148"
    RequireTwsConnected="1"
    RequireNextValidId="1"
    RequireAccountConfigured="1"
    AccountWhitelist="DU*"
    AllowLiveTrading="0"
    LiveKillSwitch="1" />

    <StrategyConfigFile>

    </StrategyConfigFile>

</Config>



